[Unit]
Description=gunicorn daemon
Requires=planets.socket
After=network.target

[Service]
User=visgean
Group=www-data
WorkingDirectory=/home/visgean/planet_positions
ExecStart=/home/visgean/planet_positions/venv-planets/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/planets.sock \
          app:app